body{
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    background-image: url(./bilder/Kronwall.jpg);
    background-size: cover;
}
h1{
    
    margin-left: 80px;
    color:  #df1818;
margin-top: 200px;
  font-family: "Kaushan Script", cursive;
background-color: white;
width: 130px;
margin-top: 1px;
 



}
p{
    margin-left: 80px;
    color: #df1818;
    margin-top: 50px;
      font-family: "Kaushan Script", cursive;
background-color: white;



}
p{
    margin-left: 80px;
        color: #df1818;
        margin-top: 70px;
          font-family: "Kaushan Script", cursive;
           text: shadow 5px 5px 0 #df1818;
}
p{
    margin-left: 80px;
    color: #df1818;
    margin-top: 70px;
      font-family: "Kaushan Script", cursive;
       text: shadow 5px 5px 0 #df1818;
}
p{
    margin-left: 80px;
        color: #df1818;
        margin-top: 70px;
          font-family: "Kaushan Script", cursive;
           text: shadow 5px 5px 0 #df1818;
}
p{
    margin-left: 80px;
        color: #df1818;
        margin-top: 70px;
          font-family: "Kaushan Script", cursive;
           text: shadow 5px 5px 0 #df1818;
     width: 750px;
}
