@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kaushan+Script&display=swap'
);
body {background-image: url(./bilder/recal-media-ueBIGLmiI5A-unsplash.jpg
    );
background-size: cover;}
h1 {  font-family: "Kaushan Script", cursive;
    color: white;
    font-size: 60px;
    margin-left: 300px;
}
h2 {  font-family: "Fraunces", serif;
color: white;
margin-left: 300px;
}
p {  font-family: "Fraunces", serif;
color: white;
background-color: plum;
width: 650px;
padding: 30px;
margin-left: 300px;
}
a {}